USE [master]
GO
/****** Object:  Database [SCADASHBOARD]    Script Date: 24/11/2025 14:45:30 ******/
CREATE DATABASE [SCADASHBOARD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SCADASHBOARD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SCADASHBOARD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SCADASHBOARD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SCADASHBOARD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SCADASHBOARD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SCADASHBOARD]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Description] [varchar](255) NULL,
	[Action] [varchar](255) NULL,
	[Timestamp] [datetime] NULL,
	[IPAddress] [varchar](45) NULL,
 CONSTRAINT [PK__AuditLog__A17F239810775EE3] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kunde]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunde](
	[KundeId] [int] IDENTITY(1,1) NOT NULL,
	[KundeNo] [nvarchar](200) NOT NULL,
	[KundeName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Kunde] PRIMARY KEY CLUSTERED 
(
	[KundeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NULL,
	[ModuleName] [varchar](100) NOT NULL,
	[Icon] [varchar](50) NULL,
	[OrderIndex] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsChild] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[PageId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
	[TenantId] [int] NULL,
	[PageName] [varchar](150) NOT NULL,
	[PageUrl] [varchar](255) NULL,
	[ComponentName] [varchar](150) NULL,
	[OrderIndex] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Pages__C565B104C0DAADEA] PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordLog]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OldPassword] [nvarchar](250) NULL,
	[NewPassword] [nvarchar](250) NULL,
	[ChangePasswordDT] [datetime] NULL,
 CONSTRAINT [PK_PasswordLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePagePermissions]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePagePermissions](
	[RolePagePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[CanView] [bit] NULL,
	[CanAdd] [bit] NULL,
	[CanEdit] [bit] NULL,
	[CanDelete] [bit] NULL,
 CONSTRAINT [PK__RolePage__E3DB7019A0500EEB] PRIMARY KEY CLUSTERED 
(
	[RolePagePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[TenantId] [int] IDENTITY(1,1) NOT NULL,
	[TenantName] [varchar](200) NOT NULL,
	[Domain] [varchar](255) NULL,
	[ContactEmail] [varchar](255) NULL,
	[ContactPhone] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userkunde]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userkunde](
	[UserKundeId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[KundeId] [int] NULL,
 CONSTRAINT [PK_Userkunde] PRIMARY KEY CLUSTERED 
(
	[UserKundeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [varchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsLogin] [bit] NULL,
	[IPAddress] [nvarchar](250) NULL,
	[LoginDateTime] [datetime] NULL,
	[State] [nvarchar](250) NULL,
	[Country] [nvarchar](250) NULL,
	[AddressLine1] [nvarchar](250) NULL,
	[AddressLine2] [nvarchar](250) NULL,
	[PhoneNo] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[IsEmail] [bit] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C20858E84] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserValidation]    Script Date: 24/11/2025 14:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserValidation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OTPValidation] [nvarchar](50) NOT NULL,
	[EmailValidation] [nvarchar](50) NULL,
	[IsStatus] [bit] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[IsExpire] [bit] NOT NULL,
 CONSTRAINT [PK_UserEmailValid] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([AuditId], [TenantId], [UserId], [Description], [Action], [Timestamp], [IPAddress]) VALUES (168, 1, 2, N'Google Chrome', N'Dashboard/Index', CAST(N'2025-11-17T13:07:51.583' AS DateTime), N'::1')
INSERT [dbo].[AuditLogs] ([AuditId], [TenantId], [UserId], [Description], [Action], [Timestamp], [IPAddress]) VALUES (169, 1, 2, N'Google Chrome', N'User/Index', CAST(N'2025-11-17T13:08:27.037' AS DateTime), N'::1')
INSERT [dbo].[AuditLogs] ([AuditId], [TenantId], [UserId], [Description], [Action], [Timestamp], [IPAddress]) VALUES (170, 1, 2, N'Google Chrome', N'User/Create', CAST(N'2025-11-17T13:08:29.550' AS DateTime), N'::1')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Kunde] ON 

INSERT [dbo].[Kunde] ([KundeId], [KundeNo], [KundeName], [IsActive]) VALUES (2, N'21', N'Fulfillers GmbH', 1)
INSERT [dbo].[Kunde] ([KundeId], [KundeNo], [KundeName], [IsActive]) VALUES (3, N'22', N'Tecsana', 1)
INSERT [dbo].[Kunde] ([KundeId], [KundeNo], [KundeName], [IsActive]) VALUES (4, N'23', N'Celebrity Sports', 1)
GO
SET IDENTITY_INSERT [dbo].[Kunde] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([ModuleId], [TenantId], [ModuleName], [Icon], [OrderIndex], [IsActive], [IsChild]) VALUES (1, 1, N'Dashboard', N'icon ni ni-presentation', 1, 1, 0)
INSERT [dbo].[Modules] ([ModuleId], [TenantId], [ModuleName], [Icon], [OrderIndex], [IsActive], [IsChild]) VALUES (2, 1, N'User Management', N'icon ni ni-users', 2, 1, 0)
INSERT [dbo].[Modules] ([ModuleId], [TenantId], [ModuleName], [Icon], [OrderIndex], [IsActive], [IsChild]) VALUES (4, 1, N'Inventory', N'icon ni ni-growth', 3, 1, 0)
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
INSERT [dbo].[Pages] ([PageId], [ModuleId], [TenantId], [PageName], [PageUrl], [ComponentName], [OrderIndex], [IsActive]) VALUES (1, 1, 1, N'Dashboard', N'/Dashboard', N'DashboardPage', 1, 1)
INSERT [dbo].[Pages] ([PageId], [ModuleId], [TenantId], [PageName], [PageUrl], [ComponentName], [OrderIndex], [IsActive]) VALUES (2, 2, 1, N'User', N'/User', N'UserListPage', 1, 1)
INSERT [dbo].[Pages] ([PageId], [ModuleId], [TenantId], [PageName], [PageUrl], [ComponentName], [OrderIndex], [IsActive]) VALUES (3, 2, 1, N'Roles & Permissions', N'/Role', N'RolesPage', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[PasswordLog] ON 

INSERT [dbo].[PasswordLog] ([Id], [UserId], [OldPassword], [NewPassword], [ChangePasswordDT]) VALUES (1, 2, N'$2a$12$O40RuzhiMeSYkJLTAHIbKOEFYWH6vsmWCZ0sP845PBX6gnGX1eYsy', NULL, CAST(N'2025-11-18T08:20:00.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[PasswordLog] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePagePermissions] ON 

INSERT [dbo].[RolePagePermissions] ([RolePagePermissionId], [TenantId], [RoleId], [PageId], [CanView], [CanAdd], [CanEdit], [CanDelete]) VALUES (1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[RolePagePermissions] ([RolePagePermissionId], [TenantId], [RoleId], [PageId], [CanView], [CanAdd], [CanEdit], [CanDelete]) VALUES (2, 1, 1, 2, 1, 1, 1, 1)
INSERT [dbo].[RolePagePermissions] ([RolePagePermissionId], [TenantId], [RoleId], [PageId], [CanView], [CanAdd], [CanEdit], [CanDelete]) VALUES (3, 1, 1, 3, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[RolePagePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [TenantId], [RoleName], [Description], [IsActive], [CreatedDate]) VALUES (1, 1, N'Admin', N'Full access for SCA Dashboard', 1, CAST(N'2025-10-28T09:38:54.303' AS DateTime))
INSERT [dbo].[Roles] ([RoleId], [TenantId], [RoleName], [Description], [IsActive], [CreatedDate]) VALUES (2, 2, N'Manager', N'Full access for Beta Ltd', 1, CAST(N'2025-10-28T09:38:54.303' AS DateTime))
INSERT [dbo].[Roles] ([RoleId], [TenantId], [RoleName], [Description], [IsActive], [CreatedDate]) VALUES (5, 1, N'Ahead', N'Kunde', 0, CAST(N'2025-11-05T07:39:58.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tenants] ON 

INSERT [dbo].[Tenants] ([TenantId], [TenantName], [Domain], [ContactEmail], [ContactPhone], [IsActive], [CreatedDate]) VALUES (1, N'Alpha Corp', N'alpha.example.com', N'admin@alpha.com', NULL, 1, CAST(N'2025-10-28T09:38:54.290' AS DateTime))
INSERT [dbo].[Tenants] ([TenantId], [TenantName], [Domain], [ContactEmail], [ContactPhone], [IsActive], [CreatedDate]) VALUES (2, N'Beta Ltd', N'beta.example.com', N'admin@beta.com', NULL, 1, CAST(N'2025-10-28T09:38:54.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tenants] OFF
GO
SET IDENTITY_INSERT [dbo].[Userkunde] ON 

INSERT [dbo].[Userkunde] ([UserKundeId], [UserId], [KundeId]) VALUES (1, 28, 5)
INSERT [dbo].[Userkunde] ([UserKundeId], [UserId], [KundeId]) VALUES (4, 29, 17)
INSERT [dbo].[Userkunde] ([UserKundeId], [UserId], [KundeId]) VALUES (12, 30, 9)
SET IDENTITY_INSERT [dbo].[Userkunde] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId]) VALUES (1, 1, 2)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId]) VALUES (2, 2, 2)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId]) VALUES (20, 28, 2)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [TenantId], [Username], [Email], [PasswordHash], [FullName], [IsActive], [CreatedDate], [UpdatedDate], [IsLogin], [IPAddress], [LoginDateTime], [State], [Country], [AddressLine1], [AddressLine2], [PhoneNo], [DateOfBirth], [IsEmail]) VALUES (1, 1, N'Ather', N'admin@alpha.com', N'$2a$12$AX26lFB78jWZYWdRrmZyf.DnRRtlShlgkJsykrzrpmYaN8vOu9nxm', N'Alpha Administrator', 1, CAST(N'2025-10-28T09:38:54.310' AS DateTime), CAST(N'2025-11-17T11:47:30.390' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Users] ([UserId], [TenantId], [Username], [Email], [PasswordHash], [FullName], [IsActive], [CreatedDate], [UpdatedDate], [IsLogin], [IPAddress], [LoginDateTime], [State], [Country], [AddressLine1], [AddressLine2], [PhoneNo], [DateOfBirth], [IsEmail]) VALUES (28, 1, N'salman', N'test2@test.com', N'$2a$12$AX26lFB78jWZYWdRrmZyf.DnRRtlShlgkJsykrzrpmYaN8vOu9nxm', N'Salman', 0, CAST(N'2025-11-10T11:32:53.793' AS DateTime), NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_RolePage_Tenant]    Script Date: 24/11/2025 14:45:31 ******/
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [UQ_RolePage_Tenant] UNIQUE NONCLUSTERED 
(
	[TenantId] ASC,
	[RoleId] ASC,
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Role_Tenant]    Script Date: 24/11/2025 14:45:31 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Role_Tenant] UNIQUE NONCLUSTERED 
(
	[TenantId] ASC,
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRole]    Script Date: 24/11/2025 14:45:31 ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_UserRole] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Tenant]    Script Date: 24/11/2025 14:45:31 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_User_Tenant] UNIQUE NONCLUSTERED 
(
	[TenantId] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF__AuditLogs__Times__4E88ABD4]  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pages] ADD  CONSTRAINT [DF__Pages__OrderInde__5165187F]  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Pages] ADD  CONSTRAINT [DF__Pages__IsActive__52593CB8]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF__RolePageP__CanVi__534D60F1]  DEFAULT ((0)) FOR [CanView]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF__RolePageP__CanAd__5441852A]  DEFAULT ((0)) FOR [CanAdd]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF__RolePageP__CanEd__5535A963]  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF__RolePageP__CanDe__5629CD9C]  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tenants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tenants] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__5AEE82B9]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedDa__5BE2A6F2]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsLogin]  DEFAULT ((0)) FOR [IsLogin]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsEmail]  DEFAULT ((0)) FOR [IsEmail]
GO
ALTER TABLE [dbo].[UserValidation] ADD  CONSTRAINT [DF_UserEmailValid_EmailValidation]  DEFAULT ((0)) FOR [OTPValidation]
GO
ALTER TABLE [dbo].[UserValidation] ADD  CONSTRAINT [DF_UserEmailValid_IsStatus]  DEFAULT ((0)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK__AuditLogs__Tenan__5DCAEF64] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([TenantId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK__AuditLogs__Tenan__5DCAEF64]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK__AuditLogs__UserI__5EBF139D] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK__AuditLogs__UserI__5EBF139D]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([TenantId])
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK__Pages__ModuleId__60A75C0F] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([ModuleId])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK__Pages__ModuleId__60A75C0F]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK__Pages__TenantId__619B8048] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([TenantId])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK__Pages__TenantId__619B8048]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePageP__PageI__628FA481] FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([PageId])
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK__RolePageP__PageI__628FA481]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePageP__RoleI__6383C8BA] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK__RolePageP__RoleI__6383C8BA]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePageP__Tenan__6477ECF3] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([TenantId])
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK__RolePageP__Tenan__6477ECF3]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([TenantId])
GO
ALTER TABLE [dbo].[Userkunde]  WITH CHECK ADD  CONSTRAINT [FK_Userkunde_Kunde] FOREIGN KEY([KundeId])
REFERENCES [dbo].[Kunde] ([KundeId])
GO
ALTER TABLE [dbo].[Userkunde] CHECK CONSTRAINT [FK_Userkunde_Kunde]
GO
ALTER TABLE [dbo].[Userkunde]  WITH CHECK ADD  CONSTRAINT [FK_Userkunde_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Userkunde] CHECK CONSTRAINT [FK_Userkunde_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__UserI__693CA210] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__UserI__693CA210]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__TenantId__6A30C649] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([TenantId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__TenantId__6A30C649]
GO
USE [master]
GO
